<h2><%= item.firmenname %></h2>
<p>Ansprechpartner: <%= item.ansprechpartner %></p>
<p>Email: <%= item.email %></p>
<p>Telefon: <%= item.telefon %></p>
<p>Adresse: <%= item.adresse %></p>
<p>Website: <a href="<%= item.website %>"><%= item.website %></a></p>
<p>Notizen: <%= item.notizen %></p>